body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn_save {
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 15px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: "#1565C0";
  cursor: pointer;
}
